In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import sklearn

In [5]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
df_raw = pd.read_csv("/home/swarnadeep/Documents/Courses/2nd_Sem/AML/Jupyter_Notebooks/advertising-data/Advertising.csv")

In [7]:
df_raw.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [8]:
df_filter = df_raw.drop(['Unnamed: 0'],axis=1)

In [9]:
df_filter.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X=df_filter[['TV','Radio','Newspaper']]

In [12]:
y=df_filter['Sales']

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
print("Shape of X is {}".format(X.shape))
print("Shape of X_train is {} and shape of y_train is {}".format(X_train.shape, y_train.shape))
print("Shape of X_test is {} and shape of y_tey_train_encoded.head()st is {}".format(X_test.shape, y_test.shape))

Shape of X is (200, 3)
Shape of X_train is (150, 3) and shape of y_train is (150,)
Shape of X_test is (50, 3) and shape of y_tey_train_encoded.head()st is (50,)

In [15]:
X_train.head()

        TV  Radio  Newspaper
114   78.2   46.8       34.5
173  168.4    7.1       12.8
5      8.7   48.9       75.0
126    7.8   38.9       50.6
117   76.4    0.8       14.8

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
model = LinearRegression()

In [18]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [19]:
y_predicted = model.predict(X_test)

In [20]:
from sklearn.model_selection import cross_val_score

ln_model = LinearRegression()
cv_scores = cross_val_score(ln_model, X=X_train, y=y_train, cv=4, n_jobs=3)
print(cv_scores)

[0.81786737 0.93397513 0.90812271 0.83972763]

In [21]:
#calculating regression seperately

In [22]:
X_tv = df_filter[['TV']]
X_radio = df_filter[['Radio']]
X_news = df_filter[['Newspaper']]

In [23]:
#split train test data acc. to TV
X_tv_train, X_tv_test, y_train, y_test = train_test_split(X_tv, y, random_state=42)
X_radio_train, X_radio_test, y_train, y_test = train_test_split(X_radio, y, random_state=42)
X_news_train, X_news_test, y_train, y_test = train_test_split(X_news, y, random_state=42)

In [24]:
sales_accuracy = {}

In [25]:
tv_model = LinearRegression()

In [26]:
tv_model.fit(X_tv_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [27]:
y_sales_tv_predicted = tv_model.predict(X_tv_test)

In [28]:
accuracy_tv = tv_model.score(X_tv_test,y_test)
print(accuracy_tv)

0.6606120390330493

In [29]:
radio_model = LinearRegression()

In [30]:
radio_model.fit(X_radio_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [31]:
accuracy_radio = radio_model.score(X_radio_test,y_test)
print(accuracy_radio)

0.2672499855897199

In [32]:
news_model = LinearRegression()

In [33]:
news_model.fit(X_news_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [34]:
accuracy_news = news_model.score(X_news_test,y_test)
print(accuracy_news)

0.00041160818684604644

In [35]:
sales_accuracy['TV'] = accuracy_tv
sales_accuracy['Radio'] = accuracy_radio
sales_accuracy['Newspaper'] = accuracy_news

In [36]:
import statsmodels.api as sm

In [37]:
X_tv_radio=df_filter[['TV','Radio']]

In [38]:
X_tv_radio_train, X_tv_radio_test, y_train, y_test = train_test_split(X_tv_radio, y, random_state=42)

In [39]:
tv_radio_model = LinearRegression()

In [40]:
tv_radio_model.fit(X_tv_radio_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [41]:
y_sales_tv_radio_predicted = tv_radio_model.predict(X_tv_radio_test)
accuracy_tv_radio = tv_radio_model.score(X_tv_radio_test,y_test)
print(accuracy_tv_radio)

0.8944787062601195

# Hence we see that tv and radio help to predict the sales with 89